example/example-state-machine/statemachine.asl.yaml
StartAt: Process Data
States:
  Process Data:
    Type: Task
    Resource: arn:aws:states:::ecs:runTask.sync
    Parameters:
      Cluster: ${ECSClusterArn}
      TaskDefinition: ${DataProcessorTaskDefinitionArn}
      NetworkConfiguration:
        AwsvpcConfiguration:
          Subnets:
            - ${SubnetIds}
          SecurityGroups:
            - ${SecurityGroupIds}
    Next: DynamoDB GetItem
  DynamoDB GetItem:
    Type: Task
    Resource: arn:aws:states:::dynamodb:getItem
    Parameters:
      TableName: ${FirstTableName}
      Key:
        PK:
          S.$: $.input.firstTableItemKey
        SK:
          S: "1"
    Next: Transform Input
    ResultPath: $.getItem
  Transform Input:
    Type: Task
    Resource: arn:aws:states:::lambda:invoke
    Parameters:
      Payload:
        "data.$": "$.input.data"
      FunctionName: ${InputTransformerFunctionName}
    ResultPath: "$.transformInput"
    ResultSelector:
      "result.$": "$.Payload"
    Retry:
      - ErrorEquals:
          - States.TaskFailed
        MaxAttempts: 2
    Next: Get Object
  Get Object:
    Type: Task
    Parameters:
      Bucket: ${FirstBucketName}
      Key.$: $.input.firstBucketKey
    Resource: arn:aws:states:::aws-sdk:s3:getObject
    Next: Double
    ResultPath: "$.getObject"
    ResultSelector:
      "result.$": "$.Body"
  Double:
    Type: Task
    Resource: arn:aws:states:::lambda:invoke
    Parameters:
      Payload.$: $.transformInput.result
      FunctionName: ${DoublerFunctionName}
    ResultPath: "$.double"
    ResultSelector:
      "result.$": "$.Payload"
    Retry:
      - ErrorEquals:
          - States.TaskFailed
        MaxAttempts: 2
    Next: Multiply
  Multiply:
    Type: Task
    Resource: arn:aws:states:::states:startExecution.sync:2
    Parameters:
      StateMachineArn: ${MultiplierStateMachineArn}
      Input:
        number.$: $.double.result.number
        factor: 3
        # Associates nested workflow execution with the parent execution (https://docs.aws.amazon.com/step-functions/latest/dg/connect-stepfunctions.html#stepfunctions-iam)
        AWS_STEP_FUNCTIONS_STARTED_BY_EXECUTION_ID.$: $$.Execution.Id
    ResultPath: "$.multiply"
    ResultSelector:
      "result.$": "$.Output"
    Retry:
      - ErrorEquals:
          - States.TaskFailed
        MaxAttempts: 2
    End: true
