example/example-state-machine/statemachine.asl.yaml
StartAt: DynamoDB GetItem
States:
  DynamoDB GetItem:
    Type: Task
    Resource: arn:aws:states:::dynamodb:getItem
    Parameters:
      TableName: ${FirstTableName}
      Key:
        PK:
          S.$: $.input.firstTableItemKey
        SK:
          S: "1"
    Next: Transform Input
    ResultPath: $.getItem
  Transform Input:
    Type: Task
    Resource: arn:aws:states:::lambda:invoke
    Parameters:
      Payload:
        "data.$": "$.input.data"
      FunctionName: ${InputTransformerFunctionName}
    ResultPath: "$.transformInput"
    ResultSelector:
      "result.$": "$.Payload"
    Retry:
      - ErrorEquals:
          - States.TaskFailed
        MaxAttempts: 2
    Next: Get Object
  Get Object:
    Type: Task
    Parameters:
      Bucket: ${FirstBucketName}
      Key.$: $.input.firstBucketKey
    Resource: arn:aws:states:::aws-sdk:s3:getObject
    Next: Double
    ResultPath: "$.getObject"
    ResultSelector:
      "result.$": "$.Body"
  Double:
    Type: Task
    Resource: arn:aws:states:::lambda:invoke
    Parameters:
      Payload.$: $.transformInput.result
      FunctionName: ${DoublerFunctionName}
    ResultPath: "$.double"
    ResultSelector:
      "result.$": "$.Payload"
    Retry:
      - ErrorEquals:
          - States.TaskFailed
        MaxAttempts: 2
    End: true